@import "variables";

.login {
    display: flex;
    flex-direction: column;
    width: 20rem;
    & input {
        margin-bottom: 0.7rem;
        border: 1px solid $grey;
    }
    & input:focus {
        margin-bottom: 0.7rem;
        border: 1px solid $black;
    }
}

.message__error{
    padding: 1rem 2rem;
    color: $white;
    background-color: $red;
    border-radius: 0.5rem;
}
