@import "variables";

.register {
    display: flex;
    flex-direction: column;
    width: 20rem;
    & input {
        margin-bottom: 0.7rem;
        border: 1px solid $black;
    }
    & input:focus {
        margin-bottom: 0.7rem;
        border: 1px solid $black;
    }
}
